<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Pour toute information,
                <strong>contactez-nous !</strong>
            </h2>
            <hr>
            <img class="img-responsive img-border img-left" src="../ARECE/img/ECE-Paris.jpg" alt="" style="height:120px;">
            <hr class="visible-xs">
            <p><strong>Mr Wanegue,</strong> Responsable de projet : jjwanegue@wanadoo.fr</p>
            <p><strong>Mr Paradinas,</strong> Responsable de la valorisation : pierre.paradinas@gmail.com</p>
            <p><strong>Mr Haik,</strong> Responsable de la majeur Énergie & Environnement : philippe.haik@ece.fr</p>
        </div>
    </div>
</div>