
<footer>
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <p><span class="copyleft">&copy; </span> ARECE 2017</p>
          </div>
      </div>
  </div>
</footer>