<div class="brand">ARECE</div>
<div class="address-bar">La plateforme open source des énergies renouvelables de l'ECE Paris</div>




<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
          <a class="navbar-brand" href="index.html">Découvrer nos projets</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li>
                  <a routerLink='/accueil' routerLinkActive="active">Accueil</a>
            </li>
              <li>
                  <a routerLink='/about' routerLinkActive="active">À Propos</a>
              </li>
              <li>
                  <a md-button [mdMenuTriggerFor]="menu">Projet</a>
                  <md-menu #menu="mdMenu" class="my-full-width-menu">
                    <button routerLink='/calsimeol' routerLinkActive="active" md-menu-item>Calsimeol</button>
                    <button routerLink='/ciesst' routerLinkActive="active" md-menu-item>CIESST</button>
                    <button routerLink='/diagnosol' routerLinkActive="active" md-menu-item>DIAGNOSOL</button>
                    <button md-menu-item>AWUDAS</button>
                    <button md-menu-item>GREENDATA</button>
                  </md-menu>
              
              </li>
    <li>
                  <a routerLink='/documentation' routerLinkActive="active">Documentation</a>
              </li>
              <li>
                  <a routerLink='/contact' routerLinkActive="active">Contacts</a>
              </li>
              <li>
                  <a routerLink='/accueil' routerLinkActive="active">Forum</a>
              </li>
          </ul>                             
      </div>
      <!-- /.navbar-collapse -->
  </div>
<!-- /.container -->
</nav>
