<div class="container">
        
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">HISTORIQUE
                </h2>
                <hr>
            </div>
            <div class="col-md-3">
                <img class="img-responsive img-border-left" src="../ARECE/img/ARECE.png" alt="">
            </div>
            <div class="col-md-8">
                <p>ARECE a débuté en 2017 grâce au travail de 6 étudiants ingénieurs à l'ECE Paris. L'ECE se rendant compte de l'importance de l'énergie renouvelable dans les années futures, a permis à plusieurs élèves de concevoir des projets permettant la compréhension des enjeux énergétiques de demain. CALSIMEOL, DIAGNOSOL, CIESST et EOLATLAS ont ainsi été réalisés pour répondre à cette problèmatique et saisir les défis qu'engendrent ce secteur.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Où trouver le code de la plateforme
                    <strong>ARECE</strong>
                </h2>
                <hr>
                <div class="row">
                <p> Vous souhaitez téléchargé le code source de la plateforme ARECE. Rien de plus simple, nous vous invitons à cliquer sur le bouton ci-dessous pour découvrir tout notre travail sur le dévellopement de la plateforme. Vous pouvez téléchargé la version la plus récente comme les plus anciennes. Vous pouvez l'utiliser à votre propre compte comme nous aider à l'améliorer et l'enrichir.</p>
                </div>
                <div class="row">
                <a href="https://bitbucket.org/arece/arece" class="btn btn-default">
                            Trouver le code source
                </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Aperçu du projet
                    <strong>EOLATLAS</strong>
                </h2>
                   </div>
            </div>
    </div>
</div>